<%- include('../partials/header') %>

<br><br>
<div class="ui cards" id="cards">
    <% drivers.forEach(driver => { %>
        <div class="card">
            <div class="content">
                <div class="header"><%= driver.name %></div>
                <div class="description">
                <p>Team: <%= driver.team %></p>
                <a href="drivers/<%= driver._id %>">More about <%= driver.name %> </a>
                </div>
            </div>
        </div>
    <% }) %>
</div>


<%- include('../partials/footer') %>