<%- include('../partials/header) %>

    <% drivers.forEach(driver => { %>
      <div class="ui link cards" >
        <div class="card">
            <div class="content">
                <div class="header"><%= driver.givenName %> <%= driver.familyName %></div>
                    <div class="description">
          <p>Number: <%= driver.permanentNumber %></p>
          <p>Date of Birth: <%= driver.dateOfBirth %></p>
          <p>Nationality: <%= driver.nationality %></p>
          <p>Url: <%= driver.url %></p>>
          </div>
        </div>
      </div>
    <% }) %>

<%- include('../partials/footer') %>