<%- include('../partials/header') %>
<br><br>

    <% drivers.forEach(driver => { %>
    <a class="ui card" href="drivers/<%= driver._id %> ">
        <div class="content">
            <div class="header"><%= driver.name %></div>
            <div class="description">
                <p>Team: <%= driver.team %></p>
            </div>
        </div>
    </a>
    <% }) %>


<%- include('../partials/footer') %>