<%- include('../partials/header') %>

<% if (user.favoriteDriver.some(drivers => {return drivers.id === drivers.id})) { %>
    <form action="/drivers/<%= drivers._id %>?_method=DELETE" method="POST">
<% } else { %> 
    <form action="/drivers/<%= drivers._id %>?_method=PUT" method="POST">
    <% } %>
<div class="ui cards">
    <div class="card">
        <div class="content">
            <div class="header"><%= drivers.name %></div>
            <div class="description">
                <p>Team: <%= drivers.team %></p>
                <p>Country: <%= drivers.nationality %></p>
                <p>Height: <%= drivers.height %>cm</p>
                <p>Weight: <%= drivers.weight %>kg</p>
                <p>Debut: <%= drivers.debut.toLocaleString().split(',')[0] %></p>
            </div>
        </div>
        <div class="extra content">
        <button class="ui button"><%= user.favoriteDriver.some(drivers => {return drivers.id === drivers.id}) ? "Remove Favorite" : "Favorite" %></button>
        </div>
    </div>
</div>
</form>

<%- include('../partials/footer') %>