<%- include('../partials/header') %>
<div class="ui cards">
    <div class="card">
        <div class="content">
            <div class="header"><%= drivers.name %></div>
            <div class="description">
                <p>Team: <%= drivers.team %></p>
                <p>Country: <%= drivers.nationality %></p>
                <p>Height: <%= drivers.height %>cm</p>
                <p>Weight: <%= drivers.weight %>kg</p>
                <p>Debut: <%= drivers.debut.toLocaleString().split(',')[0] %></p>
            </div>
        </div>
    </div>
</div>

<%- include('../partials/footer') %>