<%- include('../partials/header') %>
<br>
<h1 id="standings">Driver Standings</h1>
<br>
<div id="standings" >
<table class="ui red celled table">
    <thead>
      <tr><th>Position</th>
      <th>Driver</th>
      <th>Constructor</th>
      <th>Points</th>
      <th>Wins</th>
    </tr></thead>
    <tbody>
      <tr>
          <% drivers.forEach(r => { %> 
        <td data-label="Position"><%= r.positionText %></td>
        <td data-label="Driver"><%= r.Driver.givenName %> <%= r.Driver.familyName %> </td>
        <td data-label="Constructor"><%= r.Constructors[0].name %></td>
        <td data-label="Points"><%= r.points %></td>
        <td data-label="Wins"><%= r.wins %></td>
      </tr>
      <% }) %> 
    </tbody>
  </table>
  <br>
  <h1>Constructor Standings</h1>
  <table class="ui red celled table">
    <thead>
      <tr><th>Position</th>
      <th>Constructor</th>
      <th>Points</th>
      <th>Wins</th>
    </tr></thead>
    <tbody>
      <tr>
          <% constructors.forEach(r2 => { %> 
        <td data-label="Constructor Position"><%= r2.positionText %></td>
        <td data-label="Constructor Constructor"><%= r2.Constructor.name %></td>
        <td data-label="Constructor Points"><%= r2.points %></td>
        <td data-label="Constructor Wins"><%= r2.wins %></td>
      </tr>
      <% }) %> 
    </tbody>
  </table>
  </div>
</div>
<br><br>
<%- include('../partials/footer') %>