<%- include('../partials/header') %>
<br><br>
<div class="ui cards" id="cards">
<% teams.forEach(team => { %>
    <div id="cardsback"  class="card">
        <div class="content">
            <div class="header"><%= team.name %></div>
            <div class="description">
            <p>Location: <%= team.location %></p>
            <a href="teams/<%= team._id %>">More about <%= team.name %> </a>
            </div>
        </div>
    </div>
    <% }) %>
</div>
<%- include('../partials/footer') %>