<%- include('../partials/header') %>
<br><br>
<% teams.forEach(team => { %>
    <a class="ui card" href="teams/<%= team._id %> ">
        <div class="content">
            <div class="header"><%= team.name %></div>
            <div class="description">
                <p>Location: <%= team.location %></p>
            </div>
        </div>
    </a>
    <% }) %>

<%- include('../partials/footer') %>