<%- include('../partials/header') %>

<% if (user) { %> 
<style>
  #hide{
    visibility: hidden;
  }
</style>
<% } else { %>
  
<% } %>


<div id="hide" >
<div id="welcome" class="ui message">
  <div class="header">
    Welcome!
  </div>
  <p>Start by logging in with your google account.  We recommend heading over and updating your profile to get started</p>
</div>
</div>

<h3 id="userstitle">Message Board</h3>
<div class="ui segment" id="cards3">
<form action="/messages" method="POST">
  <div class="ui form">
    <div id="messages" class="field">
      <label>Create a post</label>
    <textarea id="textarea" name="title" placeholder="Create a post..."></textarea>
  </div>
  <button type="submit" class="ui green button">Submit Post</button>
</form>
</div>

<% messages.forEach(message => { %>
  <div class="ui relaxed divided list" id="cards3">
    <div class="item">
      <div class="content">
      <p class="header"><%= message.postedBy.split(' ')[0] %></p>
      <h5 class="card-title"><%= message.title %></h5>
      <div class="description"><%= message.createdAt.toLocaleString()%></div>
      </div>
      <br>
      <a href="/messages/<%= message._id %>" class="mini ui blue button">See Post & Replies</a>
    </div>
  </div>
  <div class="ui divider"></div>

<% }) %>

<%- include('../partials/footer') %>