<%- include('../partials/header') %>

<h3 id="userstitle">Message Board</h3>
<div class="ui segment" id="cards3">
<form action="/messages" method="POST">
  <div class="ui form">
    <div id="messages" class="field">
      <label>Create a post</label>
    <textarea name="title" placeholder="Create a post..."></textarea>
  </div>
  <button type="submit" class="ui green button">Submit Post</button>
</form>
</div>

<% messages.forEach(message => { %>
  <div class="ui relaxed divided list" id="cards3">
    <div class="item">
      <div class="content">
      <p class="header"><%= message.postedBy %></p>
      <h5 class="card-title"><%= message.title %></h5>
      <div class="description"><%= message.createdAt.toLocaleString()%></div>
      </div>
      <br>
      <a href="/messages/<%= message._id %>" class="mini ui blue button">See Post & Replies</a>
    </div>
  </div>
  <div class="ui divider"></div>

<% }) %>

<%- include('../partials/footer') %>