<%- include('../partials/header') %>

<h3 id="userstitle"><%= title %></h3>

<div class="ui link cards" id="cards2">
<% users.forEach(u => { %>
  <div class="card">
    <div class="image">
      <img src="<%= u.avatar ? u.avatar : 'http://theoldreader.com/kittens/300/300/' %>" height="200px" alt="">
    </div>
    <div class="content">
      <div class="header"><%= u.name.split(' ')[0] %></div>
      <div class="meta">
        <a id="userlink" href="/users/<%= u._id %>">click here to check out my profile</a>
      </div>
      <div class="description">
      Joined on <%= u.createdAt.toLocaleString().split(',')[0] %>
    </div>
  </div>
  </div>
<% }) %>
</div>

<%- include('../partials/footer') %>

