<%- include('../partials/header') %>

<div class="card" style="width: 36rem;">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="profileinfo-tab" data-toggle="tab" href="#profileinfo" role="tab" aria-controls="profileinfo" aria-selected="true">My Info</a>
      </li>
      <!-- This is the info for the 'update' tab -->
      <li class="nav-item">
        <a class="nav-link" id="updateinfo-tab" data-toggle="tab" href="#updateinfo" role="tab" aria-controls="updateinfo" aria-selected="false">Update Info</a>
      <!-- This is the card for the 'update' tab -->
      <div class="tab-pane fade" id="updateinfo" role="tabpanel" aria-labelledby="updateinfo-tab">
        <div class="card-body">
            <!-- This is where we'll put our 'update' route -->
            <form action="/users/profile?_method=PUT" method="POST">
                <div class="form-row">
                    <div class="col-md-4">
                        <label for="userAlias">Alias:</label>
                        <input type="text" id="userAlias" class="form-control" name="alias" value="<%= user.alias %>">
                    </div><br>
                </div>
                <div class="form-row">
                    <div class="col-md-12">
                        <label for="avatarUrl">Avatar Image URL:</label>
                    <input type="text" id="avatarUrl" class="form-control" name="avatar" value="<%= user.avatar %>">
                  </div>
                </div>
                <div class="form-row">
                    <div class="col-md-12">
                        <label for="bio">Bio:</label>
                    <textarea rows="3" id="bio" class="form-control" name="bio"><%= user.bio %></textarea>
                  </div>
                </div>
                <button type="submit" class="btn btn-warning">Update</button>
              </form>
            </div>
            Favorite Driver:
            <select class="ui dropdown">
                <option value="">Favorite Driver</option>
                <option value="sr:competitor:7135">Hamilton, Lewis</option>
                <option value="sr:competitor:178318">Verstappen, Max</option>
                <option value="sr:competitor:41600">Bottas, Valtteri</option>
                <option value="sr:competitor:522994">Albon, Alexander</option>
                <option value="sr:competitor:269471">Leclerc, Charles</option>
                <option value="sr:competitor:495898">Norris, Lando</option>
                <option value="sr:competitor:302866">Stroll, Lance</option>
                <option value="sr:competitor:41603">Ricciardo, Daniel</option>
                <option value="sr:competitor:46337">Perez, Sergio</option>
                <option value="sr:competitor:184751">Ocon, Esteban</option>
                <option value="sr:competitor:189029">Sainz Jr, Carlos</option>
                <option value="sr:competitor:381362">Gasly, Pierre</option>
                <option value="sr:competitor:7610">Vettel, Sebastian</option>
                <option value="sr:competitor:39412">Hulkenberg, Nico</option>
                <option value="sr:competitor:222584">Giovinazzi, Antonio</option>
                <option value="sr:competitor:13176">Kvyat, Daniil</option>
                <option value="sr:competitor:135592">Magnussen, Kevin</option>
                <option value="sr:competitor:4538">Raikkonen, Kimi</option>
                <option value="sr:competitor:447677">Latifi, Nicholas</option>
                <option value="sr:competitor:391432">Russell, George</option>
                <option value="sr:competitor:37294">Grosjean, Romain</option>
              </select><br>
              Favorite Team:
              <select class="ui dropdown">
                <option value="">Favorite Team</option>
                <option value="sr:competitor:41127">Mercedes AMG Motorsport</option>
                <option value="sr:competitor:4978">Red Bull Racing</option>
                <option value="sr:competitor:4514">McLaren</option>
                <option value="sr:competitor:496090">Racing Point F1 Team</option>
                <option value="sr:competitor:4510">Ferrari</option>
                <option value="sr:competitor:4512">Renault F1 Team</option>
                <option value="sr:competitor:5771">Alphatauri</option>
                <option value="sr:competitor:4515">Alfa Romeo Racing</option>
                <option value="sr:competitor:242902">Haas F1 Team</option>
                <option value="sr:competitor:4511">Williams</option>
              </select><br>
              Favorite Track:
              <select class="ui dropdown">
                <option value="">Favorite Track</option>
                <option value="1">Spa</option>
                <option value="0">Manza</option>
                <option value="2">Silverstone</option>
              </select>
   


<%- include('../partials/footer') %>
