<%- include('../partials/header') %>

<h3 id="userstitle"><%= title %></h3>

<div class="ui cards" id="cards2">
    <div class="image">
        <img id="avatarPhoto" style="height: 18rem;" class="card-img-top" src="<%= userInfo.avatar ? userInfo.avatar : 'http://theoldreader.com/kittens/300/300/'  %>" alt="Card image cap">
    </div>
    <div class="content">
    <div class="header">
    <h3><%= userInfo.name %></h3>
    </div>
    <div class="description">
        <p class="card-text">Alias: <%= userInfo.alias %></p>
        <p class="card-text">Joined: <%= userInfo.createdAt.toLocaleString() %></p>
        <p class="card-text">Email: <a href="mailto:<%= userInfo.email %>"><%= userInfo.email %></a></p>
        <p class="card-text">Bio: <%= userInfo.bio %></p>
        <% favoriteDriver.forEach(d => { %> 
        <p class="card-text">Favorite Driver: <a href="/drivers/<%= d._id %>"><%= d.name %></a>
        <% }) %> 
        <% favoriteTeam.forEach(t => { %> 
        <p class="card-text">Favorite Team: <a href="/teams/<%= t._id %>"><%= t.name %></a> 
        <% }) %> 
        <p class="card-text">Favorite Track: <%= userInfo.favoriteTrack %></p> 
        <p class="card-text">About Favorite Track: <%= userInfo.aboutFavoriteTrack %></p> 
    </div>
    </div>
</div>
<br> <br>
<div id="cards2">
<a href="/users/profile">Update your profile</a>
</div>
<%- include('../partials/footer') %>
